/* палитра */
/* цвет основного текста: #212121 */
/* побочный цвет текста(чёрный): #757575 */
/* побочный цвет текста(белый): #fff */
/* акцентный цвет: #2196f3 */

/* УТИЛИТЫ */

:root {
  --primary-text-color: #212121;
  --secondary-text-color-black: #757575;
  --secondary-text-color-white: #fff;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* INDEX */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  background-color: silver;
  margin-top: 94px;
}

header > .container {
  margin-top: 0px;
}

.index-h2 {
  color: var(--primary-text-color);
  font-size: 700;
  font-size: 36px;
  text-align: center;
}

/* HEADER */

/* navigation */

/* logo */

.logo {
  display: inline-block;
  align-items: start;
  margin-right: 93px;

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.logo-blue {
  color: var(--accent-color);
}

/* navig */

.navig {
  display: flex;
  align-items: center;
}

.navig .item {
  display: inline-block;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.navig .link:not(:last-child) {
  margin-right: 50px;
}

.navig .item:hover,
.navig .item:focus,
.site-nav .current {
  color: var(--accent-color);
}

/* site-nav */

.site-nav {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

/* adres-nav */

.adres-nav {
  display: flex;
  margin-left: auto;
  /* margin-right: 215px; */
}

/* BUTTON */

.btn {
  color: var(--secondary-text-color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--secondary-text-color-white);
  background-color: var(--accent-color);

  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
}

.btn:active {
  background: #188ce8;
}

/* FOOTER */

.foot {
  display: flex;
}

.info {
  margin-right: 70px;
}

.social-link {
  display: flex;
  margin: -10px;
  justify-content: space-between;
}

.social .item {
  margin: 10px;
}

.info-text {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.adress {
  color: var(--secondary-text-color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.join {
  color: var(--secondary-text-color-white);
  font-weight: 700;
  font-size: 14px;
}
