/* ОБЩЕЕ */

a {
  text-decoration: none;
  margin: 0px;
  cursor: pointer;
  color: var(--primary-text-color);
}

.container .port {
  margin-top: 34px;
}

/* ГЕРОЙ */

.hero {
  max-width: 1600px;
  height: 600px;

  background-color: darkgray;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(image/format/jpg/hero/Img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.index-h1 {
  color: var(--secondary-text-color-white);

  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.hero .container {
  text-align: center;
  padding-top: 200px;
}
/* ПРЕИМУЩЕСТВА */

.hide {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.picture {
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
}

.picture .icon {
  width: 70px;
  height: 70px;
}

.advantages {
  display: flex;
  margin: -15px;
  margin-top: 94px;
}

.advantages .link {
  margin: 15px;
}

.advantages .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.advantages .text {
  color: var(--secondary-text-color-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* СПЕЦИАЛИЗАЦИЯ */

.work {
  display: flex;
  margin: -15px;
  margin-bottom: 46px;
}

.work .item {
  margin: 15px;
  overflow: hidden;
}

.overlay {
  position: relative;
  width: 370px;
  height: 294px;
}

.overlay .text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 27px;

  margin: 0px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-white);
}

.overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* КОМАНДА */

.comand {
  background: #f5f4fa;
}

.comand-list {
  display: flex;
  margin: -15px;
  justify-content: space-between;
}

.comand-list .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}

.worker {
  width: 270px;
  background-color: var(--secondary-text-color-white);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 94px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.worker:nth-child(1) {
  margin-left: 0px;
}

.worker:last-child {
  margin-right: 0px;
}

.worker > * {
  width: 100%;
  height: auto;
}

.comand-list .text {
  color: var(--secondary-text-color-black);
  font-weight: 400;
  font-size: 16px;
}

.comand .link-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.worker-content {
  padding: 32px 30px;
}

.worker .text {
  text-align: center;
}

.comand .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 0.3s, background-color 0.3s;
}

.comand .link:hover,
.comand .link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-white);
}

.comand .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.comand .icon:hover,
.comand .icon:focus {
  fill: var(--secondary-text-color-white);
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */

.clients {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.clients .link {
  display: inline-block;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients .link:hover .icon {
  fill: var(--accent-color);
}

.clients .link:hover {
  border-color: var(--accent-color);
}

.clients .icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
/* PORTFOLIO */

/* filter */

.filter {
  display: flex;
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  align-items: center;
  justify-content: space-between;
}

/* cart */

main .port {
  margin-top: 50px;
  margin-bottom: 79px;
}

.port .title {
  columns: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port .text {
  color: var(--secondary-text-color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
  margin-bottom: 0px;
}

.text-content {
  margin: 20px 24px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.card {
  width: 370px;
  margin: 15px;
  border: 1px solid #eee;
}

.card:hover,
.card:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
